html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #333;
}

#under-construction {
    color: #f00;
    font-size: 5rem;
    font-weight: bold;
}