html, body {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
    overflow: hidden;
}

#error-screen {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;
    height: 100%;

    font-family: fredoka one, cursive;
    text-align: center;

    background-color: #333;
}

.top {
    color: purple;
    font-size: 20vw;

    margin: 0 0 1rem;
}

.error {
    color: #fff;
    font-size: 6vw;

    word-break: break-word;
}

.error span {
    color: #f00;
}