body {
  margin: 0;
  background: #bbb;
  font-family: sans-serif;
  font-size: 16px;
}

body > * {
  padding: 20px;

  text-decoration: none;
}

table {
  margin-right: auto;
  margin-left: auto;
}

th {
  width: 50%;

  padding: 0.25rem 5rem;
}

.header-name {
  color: #fff;
  padding: 1rem;

  user-select: none;
}

.header-date {
  color: #fff;
  padding: 1rem;

  user-select: none;
}

.name {
  font-size: 0.85rem;

  padding: 0.25rem;
  border-radius: 0.25rem;

  text-decoration: underline;
  user-select: none;
}

.name:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
}

.name:active {
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px 0 inset;
}

.date {
  font-size: 0.75rem;
}
