body {
    margin: 0;
    /* background: #5e5f67; */
    background: #1f1f1f;
    font-family: "Noto Sans", "Segoe UI", "Tahoma", sans-serif;
    font-size: 16px;

    color: #f4f4f4;
    text-align: center;
}

body > * {
    padding: 1.25rem;
}

table {
    margin-right: auto;
    margin-left: auto;
}

td {
    width: 50%;
    padding: 0.25rem 4rem;
}

.header {
    color: #f00;
    font-size: 2rem;

    font-weight: bold;
}

th {
    color: #f07777;
    padding: 1rem;

    user-select: none;
}

a {
    color: skyblue;

    font-size: 0.85rem;

    padding: 0.25rem;
    border-radius: 0.25rem;

    padding-bottom: 1px;
    border-bottom: 1px solid skyblue;

    text-decoration: none;
    user-select: none;
}

a:hover {
    border: none;

    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
}

a:active {
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px 0 inset;

    color: red;
}

code {
    font-size: 0.85rem;
}
